extends layout
block content
    h1= title
    form(id='DressForm', action="/resource/dress", method="POST")
        div.form-group
            label.dressAttr(for='dresss_brand') Dress Brand
            input#dress_brand(type='text', name='dress_brand')
        div.form-group
            label.dressAttr(for='dress_size') Dress Quantity
            input#dress_size(type='text', name='dress_size')
        div.form-group
            label.dressAttr(for='cost') Dress cost
            input#dress_cost(type='number', name='dress_cost')
            br
            br
            input(type="submit")
        script.
            document.forms['DressForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
            });